@import url('https://fonts.googleapis.com/css?family=Staatliches');

.main-container {
    margin: 0;
    height: 100%;
}

.nav-bar {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Staatliches', cursive;
}
.nav-bar > li {
  list-style-type: none;
  margin: 10px;
  font-size: 25px;
}
.nav-bar > li a:visited {
  color: white;
}
.nav-bar > li a:hover {
  color: purple;
}
.nav-bar > li a:active {
  color: white;
}

