@import url('https://fonts.googleapis.com/css?family=Staatliches');

.fave-header {
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Staatliches';
    font-weight: 100;

}

.favorites-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.fave-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: scroll;
    border: 1px solid white;
}

.fave-img-container > .fave-img-item {
    width: 200px;
    height: 200px;
}